body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: linear-gradient(90deg, rgb(23, 221, 178), rgb(0, 49, 97));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('./fonts/SEGA.woff') format('woff');
  }

.card {
  width: 230px;
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.02);
}
.app-content {
  margin-bottom: 30px;
}
h1{
  font-family: 'SEGA LOGO FONT';
  font-weight:200;
  color:#0ccac4;
}
